extends layout

block content
    .w3-container
        a(href="/") Voltar
        h1 Lista de filmes
        table.w3-table-all
            tr
                th Identificador
                th Título
                th(style="margin-right: 30%") Ano
                th.w3-center Operações
            each filme in lista
                tr
                    td= filme._id
                    td= filme.title
                    td= filme.year
                    td(width="30%").w3-center
                        button.w3-button.w3-teal(onclick="verFilme('" + filme._id + "')" style="margin-right: 5%") Ver Informação
                        button.w3-button.w3-red(onclick="apagarFilme('" + filme._id + "')" style="margin-left: 10%" ) x